@page
@model ThreeSistersHotel.Pages.Customers.MyDetailsModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>My Details</h1>

@if ((string)ViewData["ExistInDB"] == "true")
{
    <h4>Welcome, @UserManager.GetUserName(User)! You can edit your details below. </h4>
}
else
{
    <h4>Welcome, @UserManager.GetUserName(User)! You should enter your details below before browsing other links. </h4>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Myself.GivenName" class="control-label"></label>
                <input asp-for="Myself.GivenName" class="form-control" />
                <span asp-validation-for="Myself.GivenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Myself.SurName" class="control-label"></label>
                <input asp-for="Myself.SurName" class="form-control" />
                <span asp-validation-for="Myself.SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Myself.Postcode" class="control-label"></label>
                <input asp-for="Myself.Postcode" class="form-control" />
                <span asp-validation-for="Myself.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewData["SuccessDB"] != null)
{
    <hr />
    <h5>
        Thanks. You have successfully updated your details with your name
        <strong>@Model.Myself.GivenName @Model.Myself.SurName</strong>
        and your mobile number <strong>@Model.Myself.Postcode</strong>.
    </h5>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

