@page
@model ThreeSistersHotel.Pages.Bookings.MyBookingsModel

@{
    ViewData["Title"] = "MyBookings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>My Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./MyBookings" asp-route-sortOrder="@Model.CheckInSort">
                    @Html.DisplayNameFor(model => model.Booking[0].CheckIn)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckOut)
            </th>
            <th>
                <a asp-page="./MyBookings" asp-route-sortOrder="@Model.TotalSort">
                    @Html.DisplayNameFor(model => model.Booking[0].Cost)</a>
            </th>
            <th>
                Room ID
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheRoom.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.SurName)
            </td>

        </tr>
        }
    </tbody>
</table>